* {
  box-sizing: border-box;
}

body {
  margin: 5px;
  position: relative;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}
.text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);    
}